:root {
    --black: #181818;
    --darkgrey: #333333;
    --lightgrey: #6e6e6e;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.head {
    margin: 2% auto 2% auto;
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
}

.login {
    margin: 15% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding: 16px;
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--lightgrey);
    --btnFontColor: var(--lightgrey);
    --btnBG: var(--darkgrey);
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBG);
}

.btn:focus { outline-style: none;}