* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #42487a;
    font-family:Verdana, sans-serif; font-size:12px; line-height:1.5;
}

header {
    display:block;
    padding: 8px 16px!important;
    font-weight: 600;
    font-stretch: wider;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.box .row.header {
    flex: 0 1 auto;
}
.box .row.content{
    flex: 1 1 auto;
}
.box .row.footer{
    flex: 0 1 30px;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}
[class*="col-"] {float: left; height: auto;}

.top {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.bottom {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.gradient {
    height: 100vh; background-image: linear-gradient(to bottom, #42487a, #20163a); background-repeat: no-repeat; background-size: cover; background-position: fixed;
}
.posttab {display: flex; justify-content: center; flex-wrap: wrap;}
.rightbar {justify-self: flex-end;}
.center {text-align: center;}
.right {float: right!important;}
.jright {margin-left: auto;}
.left {float: left!important;}
.middle {left: 50%;}
.margin-tb {margin-top: 10px; margin-bottom: 10px;}
.margin {margin-left: 5px; margin-right: 5px; margin-top: 7px; margin-bottom: 7px;}
.ad {margin-top: 7px; margin-bottom: 7px; margin-left: 7px;}
.headcolor {margin:0px 2px 0px 2px;letter-spacing: 1.5px; color:rgb(233, 231, 229); background-color: #2b1663e0; text-align: center;}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_content {
    border-radius: 4px;
    background-color: #8b8fbb94;
    margin: auto;
    padding: 7px;
    box-shadow:rgba(23, 19, 73, 0.932) 0px 0px 10px;
    width: 60%;
}

.modal_header {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 2px 16px;
    background-color: #2b1663e0;
    text-shadow: 0 0 2px #9e13e6;
    color: white;
}

.modal_body {padding: 2px 5px;}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #fefefe;
    text-shadow: 0 0 3px #9e13e6;
    text-shadow: 0 0 5px #dfc3ec;
    cursor: pointer;
}

.mb_header {
    font-size: 15px;
    text-align: center;
    padding: 0px 5px;
    margin-top: 6px;
    margin-bottom: 3px;
    border-radius: 4px;
    background-color: #2b1663e0;
    text-shadow: 0 0 2px #9e13e6;
    color: white;
}

.mb_body {

}

.searchbaritm {background-color: #7e60b300; color: #d4cdcc; font-size: 13px; height:30px; border:none; margin: 8px 0px 8px 0px;}
.searchbaritm.f {padding-left: 5px; width: 18%;}
.searchbaritm.bS {width: 18%;}
.searchbaritm.sB {width: 23%; padding-left: 5px;}
.searchbaritm.S {font-size: 14px; font-weight: bold; text-shadow: 0 0 2px #9e13e6; width: 19%; border:none;}
.searchbaritm.S:hover {background-color: #6a6088!important;}
::placeholder {color: #d4cdcc;}

.sresult {display: grid; align-items: center; grid-template-columns: repeat(6, 1fr); grid-template-rows: 1fr;}
.slink {display: flex; justify-content: center; color: #e9e7e5; grid-column: 1/4; grid-row: 1/2;}

.bar {display: grid; align-items: center; grid-template-columns: repeat(12, 1fr); grid-template-rows: 1fr; width: 100%; height: 40px; overflow: hidden; color:rgb(218, 216, 214); background-color: #1c0d3a; letter-spacing: 2px;}
.bar .item1 {grid-column: 11/12; grid-row: 1/2; text-align: center;}
.bar .item2 {grid-column: 12/13; grid-row:1/2; text-align: center;}
.bar .centerit {grid-column: 4/10; grid-row:1/2; text-align: center; font-size: 22px; font-weight: bold; font-stretch: wider; text-shadow: 0 0 3px #9e13e6}

.posts {display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 40px repeat(4, 1fr); overflow: hidden; letter-spacing: 2px;}
.posts .head {display: flex; justify-content: center; align-items: center; font-weight:bold; font-size:18px; grid-column: 1/3; grid-row: 1/2; text-align: center; color:rgb(233, 231, 229); background-color: #2b1663e0;}
.posts .post {display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: 60% 40%; border-radius: 3px; background-color: rgba(240, 248, 255, 0.226); margin:2px;}
.post .posttitle {grid-column: 1/4; grid-row: 1/2; display: flex; justify-content: center; align-items: center; font-weight:bold; font-size:18px; overflow: hidden; text-shadow: 0 0 8px #c7c5c7; font-stretch: condensed; color: rgb(233, 231, 229);}
.post .postitem {display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 16px; color: #e9e7e5; text-shadow: 0 0 2px #542aa8;}
.post .postadd {display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 17px; color: #e9e7e5; background-color: rgba(240,248,255, 0.226); text-shadow: 0 0 2px #542aa8; border:none; border-radius:3px; margin: 4px;}
.post .postadd:hover {background-color: #6a6088!important;}
.maingrid {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; grid-template-areas: "popular recent" "popularn recentn"; grid-gap: 2px; margin-top: 2px; margin-bottom: 2px;}
.nsfwl {grid-column:1/2; grid-row:2/3; z-index: 0;}
.nsfwr {grid-column:2/3; grid-row:2/3; z-index: 0;}
.hidepanel {display: flex; flex-direction: column; grid-column-start:1; grid-column-end: 3; grid-row-start:2; grid-row-end:3; z-index:1; color: #c8c6cc; font-size:18px; background-color: #20163afb; border-radius: 3px; align-items:center; justify-content:center;}
.hidepanel div {text-align:center; width: 50%; margin-top: 5px; margin-bottom: 5px;}
.hidepanel button {width: 40%; height: 30px; border-radius: 5px; border:none; background-color: #542aa8; color: #c8c6cc; font-weight: 600; font-size: 15px;}

.btn {color:inherit; text-align: center; text-decoration: none; border: none;}
.btn:hover {color:rgba(23, 19, 73, 0.932)!important; background-color: #6a6088!important;}
.urlbtn {background-color: rgba(240, 248, 255, 0.384); border-radius: 5px; float:left; font-weight:600; color:inherit; text-align: center; text-decoration: none; border: none; width:44%; height:40px; font-size: 13px; color: #e9e7e5; text-shadow: 0 0 2px #542aa8;}
.urlbtn:hover {color:rgba(23, 19, 73, 0.932)!important; background-color: #6a6088!important;}
.urlbtn1 {background-color: rgba(240, 248, 255, 0.384); border-radius: 5px; float:left; font-weight:600; color:inherit; text-align: center; text-decoration: none; border: none; width:44%; height:40px; font-size: 13px; color: #e9e7e5; text-shadow: 0 0 2px #542aa8;}
.urlbtn1:hover {color:rgba(23, 19, 73, 0.932)!important; background-color: #6a6088!important;}
.halfl {width: 50%; height:50%; float: left; padding: 2px 1px 2px 2px;}
.halfr {width: 50%; height:50%; float: left; padding: 2px 2px 2px 1px;}
.card {box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.link {color:rgb(218, 216, 214)}
.urltabbtns {display: flex; justify-content: center; align-items: center; height: 50px; font-weight: bold;}
.urlt {display: grid; grid-template-rows: 30px; grid-template-columns: 25px 5fr 1fr 1fr; border-radius: 3px; height: fit-content; background-color: rgba(240, 248, 255, 0.384);}
.modurlt {display: grid; grid-template-rows: 30px; grid-template-columns: 4fr 1fr 1fr 1fr; border-radius: 3px; height: fit-content; background-color: rgba(240, 248, 255, 0.384);}
.modurltna {display: grid; grid-template-rows: 30px; grid-template-columns: 2fr 3fr 2fr; border-radius: 3px; height: fit-content; background-color: rgba(240, 248, 255, 0.384);}
.modadd {grid-column:4/5; grid-row:1/2; display: flex; justify-content: center; align-items: center; font-weight: bold; font-size: 18px; color: #e9e7e5; text-shadow: 0 0 2px #542aa8; border:none; border-radius:3px;}
.urltitm {display: flex; color: #E9E7E5; justify-content: center; align-items: center; text-align: center; overflow: hidden; font-weight: bold;}
.murltitm {display: flex; color: #E9E7E5; justify-content: center; align-items: center; text-align: center; overflow: hidden; font-weight: bold; font-size: 17px;}
.murltitmcd {display: flex; color: #E9E7E5; justify-content: center; align-items: center; text-align: center; overflow: hidden; font-weight: bold; font-size: 17px; grid-row:1/2; grid-column:2/4;}
.murltitmcdt {display: flex; color:#e9e7e5; justify-content: center; align-items: center; text-align: center; overflow: hidden; font-weight: bold; font-size: 17px; grid-row:1/2; grid-column:1/2;}
.check {height: 24px; width: 24px;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.downloadbutton {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    padding: 8px;
    position: fixed;
    border-radius: 50px;
    top: 85%;
    right: 6%;
    width: 100px;
    height: 100px;
    background-color: #4b386cc4;
    z-index: 2;
    box-shadow: 0 0 4px;
}

.downlen {
    grid-row: 1/2; grid-column: 1/2; font-size: 20px; font-weight: bold; color: #d4cdcc; text-shadow: 0 0 2px #9e13e6; 
}

.urltab-smallbuttons {
    display: none; 
}

.urltab-smallbuttons-active {
    display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr; width: 100%; height: 100%;
}

.threequarter {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #513a7c1c;
    height: 100%;
}

.threequarterT {
    margin: 30px 20px 30px 20px;
    background-color: #7e60b30e;
}

.onequarter {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    background-color: #7e60b3a4;
}

.yoururltab {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    background-color: #513a7c1c;
    border-radius: 4px;
}

.round {border-radius: 4px;}
.biground {border-radius: 10px;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {width: 100%;}
    .hide-large {
        display: none!important
    }

    .modal_content {
        width: 90%!important;
    }

    .headcolor {border-radius: 30px; background-color: #2a166300;}

    .yoururltab {
        margin: 0px!important;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        text-align: center;
        padding: 8px;
        position: fixed;
        border-radius: 50px!important;
        top: 85%;
        right: 3%;
        width: 100px!important;
        height: 100px!important;
        background-color: #4b386cc4;
        z-index: 2;
        box-shadow: 0 0 4px;
    }

    .transform {
        -webkit-transition: all .5s ease;  
        -moz-transition: all .5s ease;  
        -o-transition: all .5s ease;  
        -ms-transition: all .5s ease;  
        transition: all .5s ease;
    }
    
    .transform-active {
        grid-template-rows: 6% 87% 7%;
        border-radius: 25px!important; 
        width: 94%!important;
        height: 94%!important;
        top: 3%!important; 
        background-color: #616087e6!important; 
    }

    .urlt {
        margin: 2px!important;
    }

    .urltabbtns {
        display: none;
    }
    .urltabbtns-active {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        width: 100%; 
        height: 100%;
        justify-items: center;
    }

    .urlbtn {
        grid-row: 1/2; grid-column: 1/2; 
        border-radius: 8px;
        border: none;
        margin: 0px;
        width: 96%;
        background-color: #2e2d56;
        color: #e9e7e5;
        text-shadow: 0 0 3px #7d64a2;
        box-shadow: 0 0 3px #2b2950;
    }
    .urlbtn1 {
        grid-row: 1/2; grid-column: 2/3;
        border-radius: 8px;
        border: none;
        margin: 0px;
        width: 96%;
        background-color: #2e2d56;
        color: #e9e7e5;
        text-shadow: 0 0 3px #7d64a2;
        box-shadow: 0 0 3px #2b2950;
    }

    .urltab-small {
        display: none;
    }

    .checki {display: none;}

    .urltab-small-active {display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(18, 1fr); height: 100%; grid-row: 2/3; grid-column: 1/2;}
    

    .bar {width: 100%; grid-template-columns: repeat(5, 1fr); grid-template-rows: 1fr; letter-spacing: 4px; align-items: center;}
    .bar .centerit {font-weight:bold; font-size: 27px; font-stretch: expanded; grid-column: 3/4; grid-row: 1/2; text-align: center;}
    .maingrid {grid-template-columns: 1fr; grid-template-rows: repeat(4, 1fr); grid-template-areas: "popular" "recent" "popularN" "recentN"; grid-gap: 2px; margin-top: 2px; margin-bottom: 2px;}
    .nsfwl {grid-column: 1/2; grid-row: 3/4; z-index: 0;}
    .nsfwr {grid-column: 1/2; grid-row: 4/5; z-index: 0;}
    .hidepanel {display: flex; flex-direction: column; grid-column:1/2; grid-row:3/5; z-index:1; color: #c8c6cc; font-size:18px; background-color: #20163afb; border-radius: 3px; align-items:center; justify-content:center;}
    .threequarterT {margin: 5px 5px 5px 5px!important;}
    .gradient {height: 200vh;}
    .post .posttitle {font-stretch: extra-condensed; font-size: 15px; letter-spacing: 1px;}
    .searchbaritmB {width: 31%}
    .searchbaritmS {width: 16%}
}

@media only screen and (min-width: 768px) {
    .hide-small {
        display: none!important;
    }
    .listlen {
        display: none!important;
    }
}
